* {
  padding: none;
  font-family: Arial;
}

body {
  background-color: lightcyan;
  color: black;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
}


#banner h1 {
  color: darkred;
}

#banner p {
  font-style: italic;
}

#links {
  display: flex;
  justify-content: center;
  padding: 15px;
}

#links a {
  padding: 10px 20px;
  color: darkred;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

#links a:hover {
  background-color: darkred;
  color: white;
}

#main {
  width: 100%;
}

#main h2 {
  color: darkred;
}


.ABC {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  display: flex;
}

.ABC h2 {
  color: darkred;
  margin-bottom: 10px;
}

img {
  width: 100%;
  max-width: 350px;
  height: 230px;
  border-radius: 6px;
}

#footer {
  text-align: center;
  padding: 20px;
  color: darkred;
  font-size: 14px;
}
