body {
    margin: 0;
    font-family: Arial;
    background-color: lightcyan;
    color: darkred;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to right, lightcyan);
    border-radius: 10px;
}

#banner h1 {
    margin: 0;
    font-family: Arial;
  
}

#banner p {
    font-family: Arial;
}

#links {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
}

#links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

#links a:hover {
    background-color: turquoise;
    color: darkred;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#main .ABC {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#main img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#main img:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#main h2 {
    margin-bottom: 10px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: turquoise;
    color: darkred;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
}

#main .ABC {
  flex-direction: row;
  align-items: center;
  padding: 30px;
  text-align: left;
}
 
#main .ABC img {
  width: 50%;
}

#main .ABC p {
  width: 50%;
}

