.container {
  display:flex;
  flex: 1; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#banner {
  flex: 1;
  text-align: center;
}

#banner h1 {
  color: darkred;
}

#banner nav  {
  color: darkred;
}

nav {
  background-color: darkred;
  padding: 10px;

}

.container #one, #two, #three, #four{
  flex:1;

}

nav a {
  padding: 10px 20px;
  color: darkred;
  text-align: center;
  background-color: lightcyan;
}

#main {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.container { 
   flex: 1;
   color:black;
   background-color: lightcyan;

#main p {
  text-align: center;
}

#banner { 
   justify-content: center;
   align-items: center;
   flex: 3;

#footer {
  flex: 1;
  background-color: lightcyan;
  padding: 20px;
  text-align: center;
  color: darkred;
}

.ABC {
  text-align: center;
}