
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background-color: lightcyan;
  color: black;
}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}


#banner {
  flex-direction: column;
  text-align: center;
}

#banner h1 {
  color: darkred;
  margin-bottom: 10px;
}

#banner p {
  font-style: italic;
}


#links {
  display: flex;
  justify-content: center;
}

#links a {
  padding: 10px 20px;
  color: darkred;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

#links a:hover {
  background-color: darkred;
  color: white;
}


#main {
  flex-direction: column;
  text-align: center;
  width: 100px;
 
}

#main h2 {
  color: darkred;
}

#main p {
  margin-bottom: 15px;
}


.ABC {
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  width: 100%;
  border-radius: 8px;
}

.ABC h2 {
  color: darkred;
  margin-bottom: 10px;
}


img {
  width: 100%;
  height: 230px;
  border-radius: 6px;
}


#footer {
  background-color: lightcyan;
  text-align: center;
  padding: 20px;
  color: darkred;
  font-size: 14px;
}
