* {
  font-family: Arial;
}

body {
  background-color: lightcyan;
  color: black;
}

#banner {
  padding: 20px;
}

#banner h1 {
  color: darkred;
}

#banner p {
  font-style: italic;
}

#links {
  margin: 10px;
}

#links a {
  padding: 10px 20px;
  color: darkred;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
}

#links a:hover {
  background-color: darkred;
  color: white;
}

#main {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  text-align: center;
}

#main h2 {
  color: darkred;
}


.ABC {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.ABC img {
  width: 100%;
  max-width: 350px;
  height: 230px;
}

#footer {
  padding: 20px;
  color: darkred;
  font-size: 14px;
}

